:root{
  --gray:#5d6b82;
  --coral: #f9746b;
  --darkgray: #435066;
  --lime:#ccf96b;
  --mint: #6bf9d3;
}

body{
  padding:0;
  margin:0;
  height: 100vh;
  background-color: #435066;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  height: 100%;
  width:100%;
  display: grid;
  grid-template-columns: minmax(20%, 25%) minmax(60%, 75%);
  grid-template-rows: repeat(4, minmax(25%, 1fr));
  grid-column-gap: 10px;
}

@media only screen and (min-width: 700px){
  #root{
    max-width: 70%;
  }
}